{% extends "app/layout.html" %}

{% block content %}
<div>
    <h2>Dance</h2>
    <video src="C:\Users\Maria\OneDrive\Рабочий стол\web_labs\labaaaa44\media\sample-5s.mp4" controls="controls" width="400" height="300" poster="4.jpg"></video>
</div>
<div>
    <h2>Dance2</h2>
    <video src="C:\Users\Maria\OneDrive\Рабочий стол\web_labs\labaaaa44\media\sample-5s.mp4" controls="controls" width="400" height="300" poster="C:\Users\Maria\OneDrive\Рабочий стол\web_labs\labaaaa44\app\static\app\content\3.jpg"></video>
</div>
{% endblock %}